@import "../../common/stylus/variable.styl";

.onDelete .ant-modal-footer
  padding 0
  text-align center
  .delete-hint
    border-bottom $border-regular
    height 40px
    line-height 40px
    margin 0
    color red
    &.cancel
      color $text-important
      border-bottom none
