@import '../../common/stylus/variable.styl';

.folder-info
  flex 1 1
  max-width 100%
  display flex
  justify-content space-between
  height 40px
  line-height 40px
  color $text-regular
  transition color 0.5s
  &.selected
    background #fffd96
    .delete-btn
      background yellow
      border 1px solid yellow !important
  .delete-folder
    flex 0 0 0
    text-align center
    opacity 0
    transition all 0.5s
    overflow hidden
    .delete-btn
      width 24px
      height 24px
      margin 0 auto
      position relative
      top 50%
      transform translate(0, -50%)
      border $border-regular
      border-radius 50%
      line-height 24px
  .folder-name
    flex 1 1
    margin-left 10px
    border-bottom $border-regular
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  .folder-num
    padding 0 15px
    flex 0 0 auto
    display flex
    border-bottom $border-regular
    align-items center
    .num-text
      margin-right 10px
      display inline-block
    .num-icon
      display inline-block
      max-width 14px
      opacity 1
      overflow hidden
      transition all 0.5s

.editMode
  .num-icon
    max-width 0 !important
    opacity 0 !important
  .delete-folder
    flex 0 0 40px !important
    opacity 1 !important

.editMode
  &.reserved
    color $text-holder !important
