@import '../../common/stylus/variable.styl';

.header
  position fixed
  left 0
  right 0
  top 0
  height $header-height
  line-height $header-height
  .edit
    width 80px
    text-align center
