@import '../../common/stylus/variable.styl';

.r-body
  position fixed
  top $header-height
  bottom $footer-height
  left 0
  right 0
  background rgb(250, 250, 250)
  .folder-sub-title
    indent(10)
    height 24px
    line-height 24px
    font-size $font-size-medium
    color $text-sub
    border-bottom $border-regular
  .folder-list
    font-size $font-size-medium
