//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 文字颜色
$text-important = #303133
$text-regular = #606266
$text-sub = #909399
$text-holder = #C0C4CC

// 边框颜色
$border-important = 1px solid #DCDFE6
$border-regular = 1px solid #E4E7ED
$border-sub = 1px solid #EBEEF5
$border-holder = 1px solid #F2F6FC

$header-height = 48px
$footer-height = 48px

indent(n)
  text-indent unit(n, px)

border-bottom(border)
  border-bottom border
