@import './common/stylus/variable.styl';
@import '~antd/dist/antd.css';

.right
  float right

.r-title
  font-size $font-size-large-x
  height 50px
  line-height 50px
  indent(10)
  color $text-important
